<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to '< Strona główna', root_path, class: 'navbar-brand' %>
      <%= link_to '< Lista kontaktów', contacts_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>

<h1>Podgląd kontaktu</h1>

<p>
  <strong>Lekarz:</strong><br>
  <big><%= @contact.name %> <%= @contact.surname %></big>
</p>

<p>
  <strong>Numer telefonu:</strong><br>
  <big><%= @contact.phone %></big>
</p>

<p>
  <strong>Nazwa przychodni:</strong><br>
  <big><%= @contact.clinic.full_name %></big>
</p>

<p>
  <strong>Numer telefonu przychodni:</strong><br>
  <big><%= @contact.clinic.phone %></big>
</p>

<p>
  <strong>Specjalizacja medyczna:</strong><br>
  <big><%= @contact.spec.name %></big>
</p>

<p>
  <strong>Opis specjalizacji medycznej:</strong><br>
  <big><%= @contact.spec.description %></big>
</p>
