<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to '< Strona główna', root_path, class: 'navbar-brand' %>
      <%= link_to '< Lista specjalizacji', specs_path, class: 'navbar-brand' %>
      <%= link_to 'Szukaj specjalizacji', {controller: 'spec_searches'}, class: 'navbar-brand' %>
    </div>
  </div>
</nav>

<h1>Lista specjalizacji</h1>

<% unless @specs.blank? %>
<table class="table table-striped">
  <tr>
    <th>Nazwa specjalizacji</th>
    <th>Opis specjalizacji</th>
    <th colspan="3"></th>
  </tr>

  <% @specs.each do |spec| %>
    <tr>
      <td><%= spec.name %>
      <td><%= spec.description %></td>
      <td><%= link_to raw("<span class='glyphicon glyphicon-eye-open'></span> Pokaż"), spec_path(spec) %></td>
      <td><%= link_to raw("<span class='glyphicon glyphicon-edit'></span> Edytuj"), edit_spec_path(spec) %></td>
      <td><%= link_to raw("<span class='glyphicon glyphicon-remove'></span> Usuń"), spec_path(spec),
              method: :delete,
              data: { confirm: 'Czy na pewno?' } %>
    </td>
    </tr>
  <% end %>
</table>
<% else %>
<h2>Nie znaleziono żadnych specjalizacji</h2>
<% end %>
